# **Doğrusal İlişkinin Gösterilmesi**

In [29]:
import seaborn as sns
import matplotlib.pyplot as plt
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
sns.lmplot(x="total_bill",y="tip",data=df);

In [31]:
sns.lmplot(x="total_bill",y="tip",hue="smoker",col="time",data=df);

### **Scatterplot Matrisi**

In [32]:
import seaborn as sns;
iris = sns.load_dataset("iris")
df = iris.copy()
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [33]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [34]:
df.shape

(150, 5)

In [41]:
sns.pairplot(df)

In [45]:
sns.pairplot(df,hue="species")

In [46]:
sns.pairplot(df,hue="species",markers=["o","s","d"])

In [48]:
sns.pairplot(df,kind="reg");

In [50]:
sns.pairplot(df,kind="reg",hue="species");